{
  "ConnectionStrings": {
    "<<<<<<<" "HEAD",
    "MariaDB": "Server=localhost;Port=3306;Database=systeme_alertes;User=SwitchC;Password=XJNfhR*)lNImY(kE;",
    "=======": null,
    "MariaDB": "Server=localhost;Port=3306;Database=systeme_alertes;User=root;Password=;",
    ">>>>>>>" "47b6c49c3a0a910821d5d1f4d3f5fcca2ac5fe95"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}